<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC662</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>AUccEAFHHUABRx4RAUcfkAGHHCABhx2QAYceoAGHH5AB5xwwAecdYQHnHksB5x8BAaccQAGnHTABpx6BAacfAQG3HFABtx1AAbceIQG3HwEBlxxgAZcdkAGXHoEBlx8C</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC662</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVceAQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6BAacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecdYAHnHkUB5x8B</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Custom ALC662 by Irving23 for Lenovo ThinkCentre M8400t-N000</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>IUccECFHHUAhRx4RIUcfASGHHCAhhx2QIYceoCGHH5AhlxxgIZcdkCGXHqEhlx8CIaccQCGnHTAhpx6BIacfASG3HFAhtx1AIbceISG3HwIh5xwwIecdYSHnHksh5x8B</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Custom ALC662 by stich86 for Lenovo ThinkCentre M800</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>IUccECFHHUAhRx4RIUcfASGHHCAhhx2QIYceoCGHH5AhlxxgIZcdkCGXHqEhlx8CIaccQCGnHTAhpx6BIacfASG3HFAhtx1AIbceISG3HwIh5xwwIecdYSHnHksh5x8B</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Custom ALC662 by Vandroiy for Asus X66Ic</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>AUccMAFHHQEBRx4QAUcfkAG3HEABtx0AAbceIQG3HwEBlxwQAZcdAQGXHqABlx+QAYccIAGHHQABhx6BAYcfAQFXHPABVx0AAVceAAFXH0ABZxzwAWcdAAFnHgABZx9AAacc8AGnHQABpx4AAacfQAHHHPABxx0AAcceAAHHH0AB1xzwAdcdAAHXHgAB1x9AAecc8AHnHQAB5x4AAecfQAFHDAI=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>MacPeet - ALC662 for Acer Aspire A7600U All in One</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>AbccEAG3HUABtx4hAbcfAAG3DAIBRxwgAUcdAAFHHhcBRx+QAUcMAgGHHDABhx2QAYcegQGHHwABJxxAAScdAAEnHqYBJx+QAeccYAHnHWAB5x5LAecfAQ==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>15</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>phucnguyen.2411 - ALC662v3 for Lenovo ThinkCentre M92P SFF</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>AZccEAGXHZEBlx6gAZcfkQFHHCABRx1AAUceIQFHHwEBVxwwAVcdQQFXHhEBVx8BAYccQAGHHZABhx6BAYcfAQG3HFABtx1AAbceIQG3HwIB5xxgAecdYAHnHksB5x8B</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>16</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Custom ALC662 by aloha_cn for HP Compaq Elite 8000 SFF</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>AUccEAFHHUABRx4hAUcfAQFXHCABVx0AAVceEwFXH5ABtxwwAbcdEAG3HiEBtx8BAYccQAGHHTABhx6hAYcfkAGXHFABlx0QAZcegQGXHwI=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Custom ALC662 by ryahpalma for MP67-DI/Esprimo Q900</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>AUccEAFHHUEBRx4hAUcfAQGHHCABhx2RAYcegQGHHwEBpxw/AacdMQGnHoEBpx8B</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Custom ALC662 for MSI X79A-GD65</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>AUccEAFHHUABRx4RAUcfkQGHHCABhx2QAYceoAGHH5EBpxwwAacdMAGnHoEBpx+RAbccUAG3HUABtx4hAbcfAgGXHEABlx2QAZceoQGXHwI=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>19</integer>
					<key>WakeConfigData</key>
					<data>AUcMAgG3DAI=</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
